<!doctype html>
<html>
<head>
    <title>EveryMood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style-02.css">
</head>
<body>
        <main>
            <section class="history">
                <section class="from-watson">
                    Watson
                </section>
                <section class="from-user">
                    User
                </section>
                <section class="from-user">
                    User
                </section>
            </section>
            <section class="new-message">
                <textarea id="txt-new-message" placeholder="Type message..."></textarea>
                <button>Send</button>
            </section>
        </main>

<script src="main.js"></script>

</body>
</html>
